.history {
    width: 600px;
    height: fit-content;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gainsboro;
}

.history .header {
    border-bottom: 1px solid gainsboro;
    text-align: center;
}

.history .usersList {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}